<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material TodoApp</title>


    <!--////////angularJS//////////////////////////////////-->
    <script src="vendors/angular/angular.js"></script>


    <!--//////////angular material//////////////////-->
    <link rel="stylesheet" href="vendors/angular-material/angular-material.css">
    <script src="vendors/angular-animate/angular-animate.js"></script>
    <script src="vendors/angular-aria/angular-aria.js"></script>
    <script src="vendors/angular-material/angular-material.js"></script>


    <!--///////////Angular Fire///////////////////////////////-->
    <script src="vendors/firebase/firebase.js"></script>
    <script src="vendors/angularfire/dist/angularfire.js"></script>

    <!--////////////Icons///////////////////////-->
    <link rel="stylesheet" href="vendors/angular-material-icons/angular-material-icons.css">
    <script src="vendors/angular-material-icons/angular-material-icons.js"></script>


    <!--//////////////my css files//////////////////////-->
    <link rel="stylesheet" href="css/app.css">

    <!--////////////application module////////////////////////-->
    <script src="app.js"></script>

</head>
<body ng-app="myApp" ng-controller="appController as ctrl">

<md-card class="wall-img no-margin">


    <md-card-title layout="row">

        <img src="img/profile.jpg" class="circle md-margin md-shadow-bottom-z-2"/>

        <md-card-title-text layout-align="center start" layout-padding>
            <span class="md-headline">M.Inzamam Malik</span>
            <span class="md-caption">UX/UI Designer</span>
        </md-card-title-text>
    </md-card-title>


</md-card>


<div layout="row"  >
    <div class="counter completed" layout="column" layout-padding="" layout-align="center center">

        <span class="md-display-2 light">12</span>

        <span class="md-caption">Completed Tasks</span>

    </div>

    <div class="counter remaining " layout="column" layout-padding="" layout-align="center center">

        <span class="md-display-2 light">12</span>

        <span class="md-caption">Completed Tasks</span>

    </div>


</div>
<!--
    <md-card class="wall-img">
        <md-card-actions layout-align="start">
            <md-card-icon-actions>

                <ng-md-icon icon="menu" style="fill: white" ></ng-md-icon>

            </md-card-icon-actions>
        </md-card-actions>


&lt;!&ndash;
        <md-button class="md-icon-button md-primary" aria-label="Settings">
        </md-button>
&ndash;&gt;



        <md-list class="md-padding">
            &lt;!&ndash;<md-subheader class="md-no-sticky">2 line item</md-subheader>&ndash;&gt;
            <md-list-item class="md-2-line">
                <img src="img/profile.jpg" class="circle md-margin md-shadow-bottom-z-2" />

                <div class="md-list-item-text md-padding ">

                    <span class="md-display-2 md-padding">M.Inzamam Malik</span>

                    <div class="md-headline md-padding">UI/UX Designer</div>

                </div>

            </md-list-item>
        </md-list>

    </md-card>
-->


<form ng-submit="ctrl.addTodo()">

    <md-input-container>
        <label>new todo</label>
        <input type="text" ng-model="ctrl.newTodo">
    </md-input-container>
    <md-button type="submit">add</md-button>
</form>





    <div ng-repeat="item in ctrl.todoList | orderBy: '$index':true  " >
    {{$index}}.{{item.text}} -- {{item.status}}


    <md-menu>
        <md-button aria-label="Open phone interactions menu"
                   class="md-icon-button"
                   ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <ng-md-icon icon="keyboard_arrow_down" ></ng-md-icon>
        </md-button>
        <md-menu-content width="4">


            <md-menu-item>
                <md-button ng-click="ctrl.markDone(item)">
                    <ng-md-icon icon="done"></ng-md-icon>
                    mark done
                </md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button ng-click="ctrl.markNotDone(item)">
                    <ng-md-icon icon="replay"></ng-md-icon>

                    mark not done
                </md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button ng-click="ctrl.deleteTodo(item)">
                    <ng-md-icon icon="delete"></ng-md-icon>

                    delete
                </md-button>
            </md-menu-item>



        </md-menu-content>
    </md-menu>



</div>


</body>
</html>